<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>login</title>
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/auth.css">
</head>
<body>
<div class="container-fluid">
    <div class="row" style="margin-top: 50px">
        <div class="col-md-4 col-sm-2"></div>
        <div class="col-md-4 col-xs-12 col-sm-8">
            <form class="m-form">
                <div class="text-align-center">
                    <img src="static/imgs/user1-128x128.jpg" alt="" class="m-form-user-img">
                </div>
                <p class="m-form-text-info text-align-center">欢迎登录，请输入登录凭证</p>
                <div class="m-list-group">
                    <div class="m-list-group-item">
                        <input type="text" class="list-item-input" autocomplete="off" name="tel" placeholder="手机号" required="">
                    </div>
                    <div class="m-list-group-item">
                        <input type="password" class="list-item-input"  autocomplete="off" name="pwd" placeholder="密码" required="">
                    </div>
                </div>
                <!-- <p class="m-form-msg">请填写正确的账号信息</p> -->
                <div class="checkbox">
                    <label class="i-checks">
                      <input type="checkbox">记住账号
                    </label>
                </div>
                <button type="submit" class="btn btn-lg btn-info btn-block">登录</button>
                <p class="m-form-text-info">
                <a href="reset">忘记密码？</a>
                <a href="register" class="f-right">还没有账号？</a>
                </p>
                <p class="m-form-text-info text-align-center">xxx互动娱乐版权所有 
                    <span>@2017-2019</span>
                </p>
            </form>
        </div>
        <div class="col-md-4 col-sm-2"></div>
    </div>
</div>
</body>
</html>


